body {
  background-color: grey;
}
.columns {
  background-color: grey;
  border: 1px;
  margin: 8px;
  border-color: white;
  border-radius: 28px 3px;
  text-align: center;
}
.plant_image {
  border:1px;
  border-color:white;
  padding: 1px;
}
