body {
  background-color: grey;
}
.columns {
  background-color: grey;
  border: 1px;
  margin: 8px;
  border-color: white;
  border-radius: 28px 3px;
  text-align: center;
}
table.table {
    margin-left:auto;
    margin-right:auto;
}

.rot {
  color: red;

  animation-duration: 1s;
  animation-name: wobble;
}
